$sd-title-height: 46px;
$steps-height: 110px;
$steps-footer-height: 78px;
$step-content-padding: 40px;
$step-content-filter-form: 37px;
$step-content-table-pagination: 44px;
.task-table-wrapper {
    margin: 0 10px 0 15px;
}

.steps-content {
    height: calc(100% - #{$sd-title-height} - #{$steps-height} - #{$steps-footer-height});
    padding: 0 16px;
    >div,
    >form {
        height: 100%;
        background: #ffffff;
        margin: 0 auto;
        .ant-table {
            height: calc(100% - #{$step-content-padding} - #{$step-content-filter-form} - #{$step-content-table-pagination});
        }
        .ant-pagination.ant-table-pagination {
            margin-bottom: 0;
        }
    }
}

.sd-breadcrumb-wrapper {
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 1px 0px 0px rgba(233, 233, 233, 1);
    height: 38px;
}

.sd-filter-form {
    margin-left: 15px;
}

//弹出框
.open-task-list {
    .ant-modal-body {
        padding: 0;
    }
    .steps-content {
        .ant-form {
            padding: 30px 5% !important;
        }
        >div {
            width: 95% !important;
        }
    }
    .ant-modal-content {
        width: 800px;
    }
    .ant-modal-close-x {
        color: #FFFFFF;
        width: 11px;
        height: 11px;
        opacity: 0.5;
        margin-top: -5px;
        margin-right: 20px;
    }
    .sd-title::before {
        background-color: #3F80EF;
        margin-left: 5px;
    }
    .sd-last-title::before {
        content: '';
        display: inline-block;
        width: 3px;
        height: 24px;
        line-height: 24px;
        background: #3F80EF;
        border-radius: 2px;
        vertical-align: middle;
        margin-right: 11px;
        margin-top: -3px;
    }
    .sd-last-title {
        font-size: 14px;
        font-family: SourceHanSansCN-Regular;
        font-weight: 400;
        color: rgba(42, 48, 54, 1);
        line-height: 36px;
        margin-left: 10px;
    }
    .sd-title {
        height: 44px;
        background: rgba(11, 114, 217, 1);
        border-radius: 2px 2px 0px 0px;
        >span {
            color: #F0F2F5;
            font-size: 15px;
            font-family: SourceHanSansCN-Medium;
            font-weight: 500;
        }
    }
}

.ant-tabs {
    background: rgba(255, 255, 255, 1);
    // box-shadow: 0px 1px 4px 0px rgba(80, 84, 90, 0.1);
    border-radius: 4px;
    // margin-top: 18px;
    .ant-tabs-nav {
        margin-left: 16px;
    }
}

.task-drag-container {
    position: relative;
    z-index: 11;
    height: 100%;
    overflow: hidden;
    background: #fff;
    .ant-steps {
        margin: 44px auto 15px;
        height: 80px;
        width: 1134px;
        z-index: 11;
        span[class^="dot-img"] {
            position: absolute;
            top: -50%;
            left: -50%;
            display: inline-block;
            width: 52px;
            height: 52px;
            background: url("../../../assets/images/stepicon02-undo.png");
            &.dot-img-0 {
                background-position: 0 0;
            }
            &.dot-img-1 {
                background-position: -52px 0;
            }
            &.dot-img-2 {
                background-position: -104px 0;
            }
            &.dot-img-3 {
                background-position: -156px 0;
            }
            &.dot-img-4 {
                background-position: -208px 0;
            }
            &.dot-img-5 {
                background-position: -260px 0;
            }
            &.dot-img-6 {
                background-position: -312px 0;
            }
            &.dot-img-7 {
                background-position: -364px 0;
            }
            &.dot-img-8 {
                background-position: -416px 0;
            }
        }
        .ant-steps-item-process {
            span[class^="dot-img"] {
                background: url("../../../assets/images/stepicon02-normal.png");
                &.dot-img-0 {
                    background-position: 0 0;
                }
                &.dot-img-1 {
                    background-position: -52px 0;
                }
                &.dot-img-2 {
                    background-position: -104px 0;
                }
                &.dot-img-3 {
                    background-position: -156px 0;
                }
                &.dot-img-4 {
                    background-position: -208px 0;
                }
                &.dot-img-5 {
                    background-position: -260px 0;
                }
                &.dot-img-6 {
                    background-position: -312px 0;
                }
                &.dot-img-7 {
                    background-position: -364px 0;
                }
                &.dot-img-8 {
                    background-position: -416px 0;
                }
            }
        }
        .ant-steps-item-finish {
            span[class^="dot-img"] {
                background: url("../../../assets/images/stepicon01-finish.png");
                background-position: 0 0;
            }
        }
    }
    .task-drag-content {
        position: absolute;
        top: 420px;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 10;
        background: #fff;
        .task-drag-header {
            height: 20px;
            line-height: 20px;
            text-align: center;
            vertical-align: middle;
            background-color: #F0F2F5;
            position: relative;
            z-index: 4;
            user-select: none;
            &:after {
                content: '';
                display: block;
                position: absolute;
                top: 50%;
                bottom: 0;
                left: 50%;
                right: 0;
                z-index: 2;
                width: 42px;
                height: 4px;
                background: rgba(204, 204, 204, 1);
                border-radius: 2px;
                margin-left: -21px;
                margin-top: -2px;
                cursor: n-resize;
            }
            img {
                height: 50%;
                cursor: n-resize;
            }
        }
        .drag-body {
            background-color: rgb(240, 245, 255);
            height: calc(100% - 16px);
            // 修改ant-tabs样式
            .disk-list-vertical-tabs {
                height: 100%;
                .ant-tabs-top-bar {
                    // border: none;
                    height: 100%;
                    background-color: #ffffff;
                    //步骤样式
                    .ant-tabs-nav-container {
                        .ant-tabs-nav-wrap {
                            width: 100%;
                            text-align: center;
                            padding-top: 20px;
                            .ant-tabs-tab {
                                text-align: left;
                                height: 72px;
                                line-height: 72px;
                                margin-bottom: 0;
                                border-left: 2px solid transparent;
                                padding: 0 15px;
                                &.ant-tabs-tab-active {
                                    background-color: rgb(240, 245, 255);
                                    border-left-color: rgba(168, 207, 252, 1);
                                }
                                .vertical-pane-title {
                                    height: 100%;
                                    user-select: none;
                                    >span {
                                        vertical-align: middle;
                                    }
                                    // 文字
                                    span.title {
                                        margin-left: -10px;
                                        margin-right: 10px;
                                    }
                                    span[class^="disk-status"] {
                                        display: inline-block;
                                        width: 25px;
                                        height: 22px;
                                        background: url("../../../assets/images/icon_disk_status.png");
                                        margin-top: -4px;
                                        position: relative;
                                        >span {
                                            position: absolute;
                                            right: 5px;
                                            top: 0px;
                                            line-height: 16px;
                                            font-size: 12px;
                                            font-weight: 500;
                                        }
                                        &.disk-status-waiting {
                                            margin-right: 4px;
                                            >span {
                                                color: #333333;
                                            }
                                        }
                                        &.disk-status-failed {
                                            background-position: -28px 0;
                                            >span {
                                                color: #ffffff;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.span-task-style {
    font-size: 13px;
    color: #686F7A;
    margin: 0 10px;
    font-family: SourceHanSansCN-Regular;
    font-weight: 400;
}

.icon-name {
    margin-left: 15px;
}

// .top-part {
//     margin-bottom: 40px;
// }
// .ant-table-selection-column {
//     width: 20px;
// }
// 表格
.task-table-wrapper {
    .ant-table-thead {
        border-bottom: 2px solid #CFDAE6;
        height: 40px;
        background: rgba(240, 242, 245, 1);
        box-shadow: 0px 1px 0px 0px rgba(232, 234, 237, 1);
        tr th {
            height: 40px;
            color: rgba(136, 141, 160, 1);
            font-weight: 400;
            background: rgba(237, 237, 237, 0.5);
            font-size: 14px;
        }
    }
    .ant-table-tbody {
        background: rgba(255, 255, 255, 1);
        height: 42px;
        tr td {
            color: #3F3E4A;
            height: 42px;
            background: rgba(255, 255, 255, 1);
            font-weight: 400;
            word-wrap: break-word;
            word-break: break-all;
        }
    }
}